@import "../../../style.scss";

.employees-details {
  @include themify($themes) {
    flex: 6;
    background-color: themed("bgSoft");
    min-height: 100vh;
    padding: 20px;
    font-family: "RubikRegular";

    .breadcrumbs {
      display: flex;
      align-items: baseline;
      gap: 5px;
      margin-bottom: 10px;
      font-size: 14px;
      font-family: "RubikRegular";

      p {
        color: themed("textColor");
      }

      .link {
        color: themed("textColor");
        text-decoration: none;
      }

      .link:hover {
        text-decoration: underline;
      }
    }

    .page-title {
      color: themed("textColor");
      margin-bottom: 10px;
      font-family: "RubikBold";
      font-size: 22px;
    }

    .employees-details-card {
      background-color: themed("cardColor");
      padding: 20px;
      border: 1px solid themed("border");
      border-radius: 5px;
      color: themed("textColor");

      .top {
        .link {
          text-decoration: none;
          color: #fff;
          padding: 10px;
          background-color: themed("buttonBg");
          transition-duration: 0.3s;
          border-radius: 5px;
        }

        .link:hover {
          background-color: themed("buttonBgHover");
        }
      }

      .data {
        display: flex;
        align-items: flex-start;

        .left {
          flex: 1;
          table {
            tr {
              margin-bottom: 10px;

              td {
                padding: 20px;

                img {
                  width: 100px;
                  height: 100px;
                  object-fit: cover;
                }
              }

              .label {
                font-family: "RubikSemiBold";
              }

              .value {
                font-family: "RubikRegular";
              }
            }
          }
        }

        .right {
          flex: 1;

          table {
            tr {
              margin-bottom: 10px;

              td {
                padding: 20px;

                img {
                  width: 100px;
                  height: 100px;
                  object-fit: cover;
                }
              }

              .label {
                font-family: "RubikSemiBold";
              }

              .value {
                font-family: "RubikRegular";
              }
            }
          }
        }
      }
    }
  }
}
