@import "../../style.scss";

.toastNotification {
  @include themify($themes) {
    position: fixed;
    z-index: 99;
    top: 92%;
    right: 0;
    left: 0;
    bottom: 70px;
    background-color: transparent;
    display: flex;
    justify-content: space-around;

    .notification {
      p {
        padding: 5px 10px;
        background-color: themed("cardColor");
        color: themed("textColor");
        border: 1px solid themed("border");
        border-radius: 5px;
        font-family: "RubikRegular";
      }
    }
  }
}
